body {
  margin: 0;
  padding: 0;
  font-family: verdana;
}

.grid-1 {
  display: flex;
}

header {
  background-color: #f0f0f0;
  border-width: thin;
  border-bottom: solid black;
}

header ul {
  margin: 0;
  display: inline;
}

header li {
  margin: 0;
  list-style-type: none;
}

header li:hover {
  text-decoration: underline;
  background-color: cornflowerblue;
}

.reddit-pic {
  height: 75px;
}

nav {
  display: grid;
  grid-template-columns: 10% 2fr 1fr;
  border-bottom: solid #5f99cf;
  border-width: thick;
  background-color: #cee3f8;
  align-items: flex-end;
}

nav ul {
  margin: 0;
  list-style-type: none;
}

nav > div > ul > li {
  display: inline;
  font-weight: bold;
  font-size: 22px;
  font-family: verdana;
  background-color: #fbfbfb;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.user-profile {
  color: #5f99cf;
  border-top-left-radius: 5px;
  margin-top: 30px;
}

.user-profile ul {
  background-color: #fbfbfb;
  float: right;
  text-align: right;
  padding-right: 0.3em;
}
.user-profile li {
  display: inline;
  list-style-type: none;
  font-size: 20 px;
}
.user-profile li:not(.user) {
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

/* Arrow */

.post{
display: grid;
grid-template-columns: 10% 2fr 1fr;
}

.post-votes{
    text-align: center;
    font-size: 20px;
    color:dodgerblue;
}
.arrow-up {
  margin-top: 20px;
}

/* POSTS */

.post-body{
    margin-left: 1em;
    margin-top: 20px;
}

.submit-link{
    text-decoration: none;
}

.post-options span{

    justify-content: center;
    font-weight: bold;
    margin-bottom: 2em;
    padding: 0.5em;
}
.post-options span:hover {
  color: dodgerblue;
  background-color: aquamarine;
  cursor: pointer;
}
.search-container{
  margin-top: 20px;
  display:grid;
  grid-gap: 8px;
  align-items: center;
  justify-content: center;
}

.reddit-gold{
    margin-top: 2.5em;
    text-align: center;
    border: solid rgb(219,209,181);
}

.reddit-gold div{
font-weight: 0;
font-size: 20px;
padding-top: 1em;
color: rgb(100,100,80);
}

.bar-container{
margin-right: 40px;
margin-bottom: 1em;
}


.bar{
border-radius: 10px;
background-color: #F3E287;
width: 100%;
margin-left: 1em;
margin-right: 1em;
}

.gold-percent{
font-weight: bold;
}

.reddit-gold-support{
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(100,100,80);
    box-shadow: 5px 5px 5px 5px #888888;
}

.user-action-button{
    background-color: #DEF2FF;
    height: 3em;
    margin-top: .25em;
    font-size: 20px;
    border: solid blue;
    color: #4682b4;
    border-radius: 5px;
    width: 100;
}

.user-action-button:hover{
    background-color: #3A5ECA;
    color: white;
}
